# Ignorer les dossiers Node.js
node_modules
npm-debug.log

# Ignorer les fichiers de Prisma qui ne sont pas nécessaires dans le conteneur
prisma/dev.db
prisma/migrations

# Ignorer les fichiers de configuration locaux et sensibles
.env
.env.local
*.log

# Ignorer les fichiers et dossiers spécifiques à l'éditeur
.vscode/
.idea/
*.swp

# Ignorer les fichiers de build
dist/
build/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les fichiers Git
.git
.gitignore
